@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome JournalIt</h1>
    <img src="~/img/logo.jpeg" alt="logo" class="hero"/>
    <p>Read more <a href="https://www.churchofjesuschrist.org/study/scriptures?lang=eng&platform=web" target="_blank"> scriptures</a></p>
</div>
